<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
      --------------------------------------- 0.1/6.0 MB 1.7 MB/s eta 0:00:04
     - -------------------------------------- 0.2/6.0 MB 2.9 MB/s eta 0:00:02
     -- ------------------------------------- 0.4/6.0 MB 2.8 MB/s eta 0:00:03
     -- ------------------------------------- 0.4/6.0 MB 2.7 MB/s eta 0:00:03
     --- ------------------------------------ 0.5/6.0 MB 2.4 MB/s eta 0:00:03
     ---- ----------------------------------- 0.6/6.0 MB 2.5 MB/s eta 0:00:03
     ---- ----------------------------------- 0.7/6.0 MB 2.4 MB/s eta 0:00:03
     ----- ---------------------------------- 0.8/6.0 MB 2.4 MB/s eta 0:00:03
     ------ --------------------------------- 0.9/6.0 MB 2.2 MB/s eta 0:00:03
     ------ --------------------------------- 1.0/6.0 MB 2.3 MB/s eta 0:00:03
     ------- -------------------------------- 1.0/6.0 MB 2.3 MB/s eta 0:00:03
     -------- ------------------------------- 1.2/6.0 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.3/6.0 MB 2.2 MB/s eta 0:00:03
     --------- ------------------------------ 1.4/6.0 MB 2.2 MB/s eta 0:00:03
     --------- ------------------------------ 1.5/6.0 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 1.6/6.0 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 1.6/6.0 MB 2.1 MB/s eta 0:00:03
     ----------- ---------------------------- 1.7/6.0 MB 2.2 MB/s eta 0:00:02
     ------------ --------------------------- 1.9/6.0 MB 2.2 MB/s eta 0:00:02
     ------------- -------------------------- 2.0/6.0 MB 2.3 MB/s eta 0:00:02
     -------------- ------------------------- 2.2/6.0 MB 2.4 MB/s eta 0:00:02
     ---------------- ----------------------- 2.4/6.0 MB 2.5 MB/s eta 0:00:02
     ---------------- ----------------------- 2.5/6.0 MB 2.6 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 2.5 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 2.4 MB/s eta 0:00:02
     ----------------- ---------------------- 2.7/6.0 MB 2.4 MB/s eta 0:00:02
     ------------------ --------------------- 2.7/6.0 MB 2.4 MB/s eta 0:00:02
     ------------------ --------------------- 2.8/6.0 MB 2.3 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 2.3 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 2.3 MB/s eta 0:00:02
     -------------------- ------------------- 3.1/6.0 MB 2.3 MB/s eta 0:00:02
     -------------------- ------------------- 3.1/6.0 MB 2.3 MB/s eta 0:00:02
     --------------------- ------------------ 3.1/6.0 MB 2.3 MB/s eta 0:00:02
     --------------------- ------------------ 3.2/6.0 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 3.3/6.0 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 2.1 MB/s eta 0:00:02
     ----------------------- ---------------- 3.5/6.0 MB 2.1 MB/s eta 0:00:02
     ------------------------ --------------- 3.6/6.0 MB 2.1 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 2.1 MB/s eta 0:00:02
     ------------------------- -------------- 3.8/6.0 MB 2.1 MB/s eta 0:00:02
     ------------------------- -------------- 3.8/6.0 MB 2.1 MB/s eta 0:00:02
     -------------------------- ------------- 3.9/6.0 MB 2.1 MB/s eta 0:00:01
     -------------------------- ------------- 4.0/6.0 MB 2.1 MB/s eta 0:00:01
     --------------------------- ------------ 4.1/6.0 MB 2.1 MB/s eta 0:00:01
     ---------------------------- ----------- 4.2/6.0 MB 2.1 MB/s eta 0:00:01
     ---------------------------- ----------- 4.3/6.0 MB 2.1 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 2.1 MB/s eta 0:00:01
     ------------------------------ --------- 4.5/6.0 MB 2.1 MB/s eta 0:00:01
     ------------------------------- -------- 4.6/6.0 MB 2.1 MB/s eta 0:00:01
     -------------------------------- ------- 4.8/6.0 MB 2.2 MB/s eta 0:00:01
     -------------------------------- ------- 4.9/6.0 MB 2.2 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 5.1/6.0 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 2.2 MB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 2.3 MB/s eta 0:00:01
     ------------------------------------- -- 5.5/6.0 MB 2.2 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1142949 sha256=135e696a5e78251be73cb5dc5c0fa84a1f6187a79b2c1b01b18989ebb71cd689
  Stored in directory: c:\users\24220\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

In [3]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/4d/81/316b6a55a0d1f327d04cc7b0ba9d04058cb62de6c3a4d4b0df280cbe3b0b/prettytable-3.9.0-py3-none-any.whl.metadata
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/22/80/43ddb1ddeafdcbc3073c0e7a7d45b17678eeac4830c7e91bd6556527f311/SQLAlchemy-2.0.25-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.25-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\24220\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.25-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/2.1 MB 4.6 MB/s eta 0:00:01
   ------- -------------------------------- 0.4/2.1 MB 5.1 MB/s eta 0:00:01
   ---------- ----------------------------- 0.5/2.1 MB 4.3 MB/s eta 0:00:01
   ------------ --------------------------- 0.7/2.1 MB 3.8 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 3.6 MB/s eta 0:00:01
   -------------- ------------------------- 0.8/2.1 MB 3.2 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 2.6 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 2.5 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 2.5 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 2.4 MB/s eta 0:00:01
   ---------------------- ----------------- 1.1/2.1 MB 2.4 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 2.3 MB/s eta 0:00:01
   ------------------------- -------------- 1.3/2.1 MB 2.3 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 2.2 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 2.2 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 2.2 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 2.2 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 2.1 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 2.1 MB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.1 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.2 MB/s eta 0:00:00
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.25 sqlparse-0.4.4
Note: you may need to restart the kernel to use updated packages.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [3]:
!pip install -q pandas==1.1.5

^C

In [4]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [15]:
%sql SELECT distinct Launch_Site FROM SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [17]:
%sql SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [34]:
%sql SELECT Customer, SUM(PAYLOAD_MASS__KG_) AS TotalPayloadMass FROM SPACEXTBL GROUP BY Customer HAVING Customer ='NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[('NASA (CRS)', 45596)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [35]:
%sql SELECT Booster_Version, SUM(PAYLOAD_MASS__KG_) AS AveragePayloadMass FROM SPACEXTBL GROUP BY Booster_Version HAVING Booster_Version ='F9 v1.1';

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 14642)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [39]:
%sql SELECT MIN(Date) AS 'first succesful landing outcome in ground pad' FROM SPACEXTBL WHERE Landing_Outcome = 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [42]:
%sql SELECT Booster_Version AS 'boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000' FROM SPACEXTBL WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [45]:
%sql SELECT Mission_Outcome, COUNT(1) FROM SPACEXTBL GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [49]:
%sql SELECT DISTINCT Booster_Version AS 'booster_versions which have carried the maximum payload mass' FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [57]:
%sql SELECT SUBSTR(Date, 6, 2) AS 'Month', Booster_Version, Launch_Site FROM SPACEXTBL WHERE Landing_Outcome = 'Failure (drone ship)' AND SUBSTR(Date, 1, 4) = '2015';

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [62]:
%sql SELECT Landing_Outcome, COUNT(1) FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome

 * sqlite:///my_data1.db
Done.

[('Controlled (ocean)', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 10),
 ('Precluded (drone ship)', 1),
 ('Success (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Uncontrolled (ocean)', 2)]

In [110]:
%sql \
SELECT \
    Launch_Site, \
    Outcome, \
    Cnt \
    'SUM(Count) OVER (PARTITION BY Launch_Site) AS Site_subtotal \
    
FROM \
    ( \
    SELECT \
        Launch_Site, \
        CASE \
            WHEN substr(trim("Landing_Outcome"), 1, instr(trim("Landing_Outcome") || ' ', ' ') - 1) = 'Success' THEN 'Success' \
            WHEN substr(trim("Landing_Outcome"), 1, instr(trim("Landing_Outcome") || ' ', ' ') - 1) = 'Failure' THEN 'Failure' \
            ELSE 'Other' \
        END AS Outcome, \
        COUNT(1) AS Cnt, \
        COUNT(CASE WHEN substr(trim("Landing_Outcome"), 1, instr(trim("Landing_Outcome") || ' ', ' ') - 1) = 'Success' THEN 1 END) / COUNT(1) AS Success_Rate \
    FROM SPACEXTBL \
    GROUP BY Launch_Site, Outcome \
    ORDER BY \
        Launch_Site, \
        CASE \
            WHEN Outcome = 'Success' THEN 1 \
            WHEN Outcome = 'Failure' THEN 2 \
            ELSE 3 \
        END \
    ) cnt \
GROUP BY \
    Launch_Site

SyntaxError: invalid syntax. Perhaps you forgot a comma? (858018592.py, line 4)

In [115]:
%sql \
 SELECT \
        Launch_Site, \
        CASE \
            WHEN substr(trim("Landing_Outcome"), 1, instr(trim("Landing_Outcome") || ' ', ' ') - 1) = 'Success' THEN 'Success' \
            WHEN substr(trim("Landing_Outcome"), 1, instr(trim("Landing_Outcome") || ' ', ' ') - 1) = 'Failure' THEN 'Failure' \
            ELSE 'Other' \
        END AS Outcome, \
        COUNT(1) AS Cnt \
    FROM SPACEXTBL \
    GROUP BY Launch_Site, Outcome \
    ORDER BY \
        Launch_Site, \
        CASE \
            WHEN Outcome = 'Success' THEN 1 \
            WHEN Outcome = 'Failure' THEN 2 \
            ELSE 3 \
        END

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40', 'Success', 6),
 ('CCAFS LC-40', 'Failure', 6),
 ('CCAFS LC-40', 'Other', 14),
 ('CCAFS SLC-40', 'Success', 25),
 ('CCAFS SLC-40', 'Failure', 2),
 ('CCAFS SLC-40', 'Other', 7),
 ('KSC LC-39A', 'Success', 20),
 ('KSC LC-39A', 'Failure', 1),
 ('KSC LC-39A', 'Other', 4),
 ('VAFB SLC-4E', 'Success', 10),
 ('VAFB SLC-4E', 'Failure', 1),
 ('VAFB SLC-4E', 'Other', 5)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>